# Python temporary files
__pycache__/
*.pyc

# Python virtual environments
.venv/
venv/

# Secret passwords and API keys
.env

# Local user databases
*.db
*.sqlite
*.sqlite3

# Operating system files
.DS_Store
Thumbs.db
